In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "https://kworb.net/spotify/country/global_daily.html"

In [3]:
response = requests.get(url)
response.status_code

200

In [4]:
soup = BeautifulSoup(response.content, "html.parser")

In [6]:
b = soup.select('tr td.text.mp')

In [7]:
title = []
artist = []
num_iter = len(b)
artlist = soup.select("div > a:nth-child(1)")
musiclist = soup.select('div > a:nth-child(2)')
for i in range(num_iter):
    title.append(musiclist[i].get_text())
    artist.append(artlist[i].get_text())

In [27]:
hot100 =pd.DataFrame({"title":title,"artist":artist})

In [28]:
hot100.drop(hot100.index[100:200], axis=0, inplace=True)

In [35]:
hot100 = hot100.apply(lambda x: x.astype(str).str.upper())

In [36]:
hot100

                                     title        artist
0    QUEVEDO: BZRP MUSIC SESSIONS, VOL. 52      BIZARRAP
1                                AS IT WAS  HARRY STYLES
2   RUNNING UP THAT HILL (A DEAL WITH GOD)     KATE BUSH
3                          ME PORTO BONITO     BAD BUNNY
4                         TITÍ ME PREGUNTÓ     BAD BUNNY
..                                     ...           ...
95                            KISS ME MORE      DOJA CAT
96                               LAST LAST     BURNA BOY
97                                   LAYLA      DJ ROBIN
98                            LIGHT SWITCH  CHARLIE PUTH
99                                 ABCDEFU         GAYLE

[100 rows x 2 columns]

In [37]:
hot100.to_csv('hot.csv')

In [38]:
model = pd.read_csv('final_final.csv')

In [39]:
model = model.drop('Unnamed: 0', axis=1)

In [40]:
model = model.apply(lambda x: x.astype(str).str.upper())

In [41]:
model.to_csv('final_final.csv')